*{
    box-sizing: border-box;
}

body{
    background: cadetblue;
    color: cornsilk;
    margin: 0;
}
.container{
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flex{
    display: flex;
}

input,button{
    height: 50px;
    border: 1px;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}
input[type="text"]{
    width: 400px;
}
.search-btn{
    cursor: pointer;
    border: 0;
    width: 70px;
    background-color: darkgoldenrod;
}
.meal-style{
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 400px;

}
.meal-header{
    font-size: 40px;
    color: darkslateblue;
    font-weight: bold;
    text-align: center;
}
.meal-info{
    font-size: 18px;
    color: rgb(235, 222, 222);
    line-height: 18px;
    text-align: center;
}
#meal-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 6px;
}